//Button
@mixin button_styles {
  // Button style
  background: $purple;
  border-radius: unset;
  border: 0;
  color: $white !important;
  font-size: 16px;

  text-align: center;
  text-transform: capitalize;

  width: 100%;
  padding: 20px;
  display: inline-block;
  box-sizing: border-box;
}

// Padding
@mixin padding {
  padding: 0.5rem;
  margin: 0.5rem;
}
