@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

//Color Variables
$default_color: #404040;

//Transition Variables
$transition3s: all 0.3s ease-in-out;

//////////////////////// FONT ////////////////////////
$header-font: monospace;

$body-font: "Work Sans", monospace;

//////////////////////// FONT | END ////////////////////////

//////////////////////// COLOURS ////////////////////////

$green-main: #00e98e;
$green: $green-main;

$green-light: #d7ff00;

$purple: #7457f5;

$black: #3c3c3b;
$white: #fff;

//////////////////////// COLOURS | END ////////////////////////
