@import "variable";
@import "mixins";

/* General
-------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body#lia-body:not(.BizAppsPage) {
    //** //
    font-family: sans-serif, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    color: $default_color;
    img {
        max-width: 100%;
        vertical-align: middle;
        -ms-interpolation-mode: bicubic;
    }
    a {
        display: inline-block;
        text-decoration: none;
        transition: $transition3s;
    }
    body {
        background: white !important;
    }
    .lia-component-quilt-header #subheader {
        background-color: $green !important;
        color: $black !important;
        .subheadlinkaccount,
        .subheadlinkhome,
        .subheadlinknews,
        .subheadlinkphone,
        .subheadlinkhub {
            color: $black !important;
        }
    }
    .logintoplink {
        color: $green !important;
    }
    .lia-user-rank-icon {
        background-color: $green !important;
    }
    a#dropDownLink,
    div#actionMenuDropDown,
    .lia-content .lia-button.lia-button.lia-button,
    .lia-content .lia-header-nav-component-widget.unread .lia-header-nav-component-unread-count {
        background-color: $green !important;
        border-color: $green !important;
        color: black !important;
    }
    .lia-header-nav-component-unread-count {
        color: white !important;
    }
    //desktop
    .lia-body.CommunityPage {
        // border: 10px solid red;
    }
    .board-description,
    #lia-body .lia-content table.lia-list-wide .boardTitleColumn .board-list-latest {
        color: $black;
    }
    #lia-body .lia-content .lia-list-wide.lia-list-wide th,
    #lia-body .lia-content .lia-list-wide.lia-list-wide th a,
    #lia-body .lia-content .BoardBrowserListTaplet .lia-data-cell-secondary.lia-data-cell-secondary,
    th.lia-data-cell-secondary.lia-data-cell-integer {
        color: unset !important;
    }
    //mobile Only
    .lia-body.MobileCommunityPage {
        .lia-page {
            max-width: 500px;
            // border: 10px solid green !important;
        }
        .site_logo {
            max-height: 60px;
        }
    }
    #subheader {
        background-color: $green !important;
        .subheader>a {
            color: $black !important;
        }
    }
    #submitContext_1 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .lia-content .lia-panel .lia-panel-heading-bar {
        border-bottom: none;
    }
    .lia-page {
        margin: 0 auto;
        font-family: monospace !important;
        color: black;
        .signinbutton .menuProfile {
            @include button_styles;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        *[role="heading"],
        .lia-component-community-title {
            color: black;
            font-family: $header-font !important;
        }
        p,
        span,
        input,
        form,
        button,
        a,
        th,
        td,
        tr {
            color: black;
            font-family: $body-font !important;
        }
        .lia-header-nav-component-unread-count {
            color: black;
        }
        .lia-node-header-title {
            color: $green;
            font-family: $header-font !important;
        }
        .logintoplink a {
            color: $green !important;
        }
        .lia-content {
            padding: 0 0.5rem;
            background: white !important;
            .lia-component-mobile-widget-mobile-header,
            .lia-panel-heading-bar,
            .lia-quilt-row-footer,
            .lia-quilt-row,
            table.lia-list-wide th,
            input[type="text"],
            .lia-form-type-text {
                background: $white !important;
                color: $black !important;
                a {
                    // color: $black !important;
                }
            }
            .lia-link-navigation {
                color: $black !important;
            } // lia-link-navigation
            a {
                // border: 1px solid red !important;
                // box-shadow: 4px red;
                img.lia-fa-button {
                    // box-shadow: 4px red;
                    background-color: $green;
                }
            }
        } //lia-content
        .lia-button {
            @include button_styles;
        }
        .lia-quilt-row-title {
            // Header Section
            // border: 2px dashed black;
            @include padding;
        }
        .lia-quilt-row-search {
            .lia-quilt-column-alley-single {
                //Search Box
                // border: 2px solid beige;
                // @include padding;
            }
        }
        .lia-quilt-row-community-links {
            // Navigation
            // border: 2px dashed pink;
            @include padding;
        }
        .lia-quilt-row-navigation {
            // Profile Section
            // border: 2px solid orangered;
            @include padding;
        }
        .lia-component-messages-widget-featured-threads {
            // Featured Topics
            // border: 2px dashed purple;
            @include padding;
        }
        .lia-component-forums-widget-recent-messages {
            // Latest Posts
            @include padding;
        }
        .lia-component-common-widget-custom-content {
            // New Promo
            // border: 2px solid red;
            @include padding;
        }
        .lia-component-kudos-widget-messages-leaderboard {
            // Top Discussions
            // border: 2px solid green;
            @include padding;
        }
        ._lia-panel-heading-bar {
            // Little Ad panels
            // border: 2px solid blue;
            @include padding;
        }
    } //.lia-page
    //FOOTER
    footer[data-role="main-portal-footer"] {
        --text-color: #3c3c3b;
        background-color: #01e98e !important;
        color: var(--text-color);
        border-top: 0px solid black;
        nav h4 {
            color: var(--text-color) !important;
        }
        a,
        nav ul li a {
            // color: black;
            color: var(--text-color) !important;
        }
    }
}