@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
/* General
-------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body#lia-body:not(.BizAppsPage) {
  font-family: sans-serif, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  color: #404040; }

body#lia-body:not(.BizAppsPage) img {
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

body#lia-body:not(.BizAppsPage) a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

body#lia-body:not(.BizAppsPage) body {
  background: white !important; }

body#lia-body:not(.BizAppsPage) .lia-component-quilt-header #subheader {
  background-color: #00e98e !important;
  color: #3c3c3b !important; }

body#lia-body:not(.BizAppsPage) .lia-component-quilt-header #subheader .subheadlinkaccount,
body#lia-body:not(.BizAppsPage) .lia-component-quilt-header #subheader .subheadlinkhome,
body#lia-body:not(.BizAppsPage) .lia-component-quilt-header #subheader .subheadlinknews,
body#lia-body:not(.BizAppsPage) .lia-component-quilt-header #subheader .subheadlinkphone,
body#lia-body:not(.BizAppsPage) .lia-component-quilt-header #subheader .subheadlinkhub {
  color: #3c3c3b !important; }

body#lia-body:not(.BizAppsPage) .logintoplink {
  color: #00e98e !important; }

body#lia-body:not(.BizAppsPage) .lia-user-rank-icon {
  background-color: #00e98e !important; }

body#lia-body:not(.BizAppsPage) a#dropDownLink,
body#lia-body:not(.BizAppsPage) div#actionMenuDropDown,
body#lia-body:not(.BizAppsPage) .lia-content .lia-button.lia-button.lia-button,
body#lia-body:not(.BizAppsPage) .lia-content .lia-header-nav-component-widget.unread .lia-header-nav-component-unread-count {
  background-color: #00e98e !important;
  border-color: #00e98e !important;
  color: black !important; }

body#lia-body:not(.BizAppsPage) .lia-header-nav-component-unread-count {
  color: white !important; }

body#lia-body:not(.BizAppsPage) .board-description,
body#lia-body:not(.BizAppsPage) #lia-body .lia-content table.lia-list-wide .boardTitleColumn .board-list-latest {
  color: #3c3c3b; }

body#lia-body:not(.BizAppsPage) #lia-body .lia-content .lia-list-wide.lia-list-wide th,
body#lia-body:not(.BizAppsPage) #lia-body .lia-content .lia-list-wide.lia-list-wide th a,
body#lia-body:not(.BizAppsPage) #lia-body .lia-content .BoardBrowserListTaplet .lia-data-cell-secondary.lia-data-cell-secondary,
body#lia-body:not(.BizAppsPage) th.lia-data-cell-secondary.lia-data-cell-integer {
  color: unset !important; }

body#lia-body:not(.BizAppsPage) .lia-body.MobileCommunityPage .lia-page {
  max-width: 500px; }

body#lia-body:not(.BizAppsPage) #subheader {
  background-color: #00e98e !important; }

body#lia-body:not(.BizAppsPage) #subheader .subheader > a {
  color: #3c3c3b !important; }

body#lia-body:not(.BizAppsPage) #submitContext_1 {
  padding-top: 0;
  padding-bottom: 0; }

body#lia-body:not(.BizAppsPage) .lia-content .lia-panel .lia-panel-heading-bar {
  border-bottom: none; }

body#lia-body:not(.BizAppsPage) .lia-page {
  margin: 0 auto;
  font-family: monospace !important;
  color: black; }

body#lia-body:not(.BizAppsPage) .lia-page .signinbutton .menuProfile {
  background: #7457f5;
  border-radius: unset;
  border: 0;
  color: #fff !important;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  padding: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body#lia-body:not(.BizAppsPage) .lia-page h1,
body#lia-body:not(.BizAppsPage) .lia-page h2,
body#lia-body:not(.BizAppsPage) .lia-page h3,
body#lia-body:not(.BizAppsPage) .lia-page h4,
body#lia-body:not(.BizAppsPage) .lia-page h5,
body#lia-body:not(.BizAppsPage) .lia-page h6,
body#lia-body:not(.BizAppsPage) .lia-page .h1,
body#lia-body:not(.BizAppsPage) .lia-page .h2,
body#lia-body:not(.BizAppsPage) .lia-page .h3,
body#lia-body:not(.BizAppsPage) .lia-page .h4,
body#lia-body:not(.BizAppsPage) .lia-page .h5,
body#lia-body:not(.BizAppsPage) .lia-page .h6,
body#lia-body:not(.BizAppsPage) .lia-page *[role="heading"],
body#lia-body:not(.BizAppsPage) .lia-page .lia-component-community-title {
  color: black;
  font-family: monospace !important; }

body#lia-body:not(.BizAppsPage) .lia-page p,
body#lia-body:not(.BizAppsPage) .lia-page span,
body#lia-body:not(.BizAppsPage) .lia-page input,
body#lia-body:not(.BizAppsPage) .lia-page form,
body#lia-body:not(.BizAppsPage) .lia-page button,
body#lia-body:not(.BizAppsPage) .lia-page a,
body#lia-body:not(.BizAppsPage) .lia-page th,
body#lia-body:not(.BizAppsPage) .lia-page td,
body#lia-body:not(.BizAppsPage) .lia-page tr {
  color: black;
  font-family: "Work Sans", monospace !important; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-header-nav-component-unread-count {
  color: black; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-node-header-title {
  color: #00e98e;
  font-family: monospace !important; }

body#lia-body:not(.BizAppsPage) .lia-page .logintoplink a {
  color: #00e98e !important; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-content {
  padding: 0 0.5rem;
  background: white !important; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-content .lia-component-mobile-widget-mobile-header,
body#lia-body:not(.BizAppsPage) .lia-page .lia-content .lia-panel-heading-bar,
body#lia-body:not(.BizAppsPage) .lia-page .lia-content .lia-quilt-row-footer,
body#lia-body:not(.BizAppsPage) .lia-page .lia-content .lia-quilt-row,
body#lia-body:not(.BizAppsPage) .lia-page .lia-content table.lia-list-wide th,
body#lia-body:not(.BizAppsPage) .lia-page .lia-content input[type="text"],
body#lia-body:not(.BizAppsPage) .lia-page .lia-content .lia-form-type-text {
  background: #fff !important;
  color: #3c3c3b !important; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-content .lia-link-navigation {
  color: #3c3c3b !important; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-content a img.lia-fa-button {
  background-color: #00e98e; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-button {
  background: #7457f5;
  border-radius: unset;
  border: 0;
  color: #fff !important;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  padding: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-quilt-row-title {
  padding: 0.5rem;
  margin: 0.5rem; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-quilt-row-community-links {
  padding: 0.5rem;
  margin: 0.5rem; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-quilt-row-navigation {
  padding: 0.5rem;
  margin: 0.5rem; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-component-messages-widget-featured-threads {
  padding: 0.5rem;
  margin: 0.5rem; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-component-forums-widget-recent-messages {
  padding: 0.5rem;
  margin: 0.5rem; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-component-common-widget-custom-content {
  padding: 0.5rem;
  margin: 0.5rem; }

body#lia-body:not(.BizAppsPage) .lia-page .lia-component-kudos-widget-messages-leaderboard {
  padding: 0.5rem;
  margin: 0.5rem; }

body#lia-body:not(.BizAppsPage) .lia-page ._lia-panel-heading-bar {
  padding: 0.5rem;
  margin: 0.5rem; }

body#lia-body:not(.BizAppsPage) footer[data-role="main-portal-footer"] {
  --text-color: #3c3c3b;
  background-color: #01e98e !important;
  color: var(--text-color);
  border-top: 0px solid black; }

body#lia-body:not(.BizAppsPage) footer[data-role="main-portal-footer"] nav h4 {
  color: var(--text-color) !important; }

body#lia-body:not(.BizAppsPage) footer[data-role="main-portal-footer"] a,
body#lia-body:not(.BizAppsPage) footer[data-role="main-portal-footer"] nav ul li a {
  color: var(--text-color) !important; }
