/* ==============================================================
Main portal generic styles
============================================================== */

/*
* Clearfix
*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}


/*
* Background definitions
*/
.light-green { background: #8eca78 }
.green { background: #53af31 }
.grey-90 { background: #0b171c }
.grey-80 { background: #374044 }
.grey-70 { background: #697479 }
.grey-50 { background: #8e9ca2 }
.grey-40 { background: #b2c2c9 }
.grey-20 { background: #d0dfe6 }
.grey-10 { background: #eaf2f6 }
.light-blue { background: #accbdf }
.dark-blue { background: #85a6bb }
.light-orange { background: #ecb798 }
.dark-orange { background: #e68f5e }
.light-red { background: #e9929e }
.dark-red { background: #cc4e5f }
.kickback-pink { background: #e03099 }
.light-pink { background: #ee75bd }
.error-red { background: #ed1c24 }
.the-duke-green { background: #4bc2ca }
.the-mitch-red { background: #cc4e5f }
/*
* Headings
*/
article[data-role="main-portal-content-article"] h1,
article[data-role="main-portal-content-article"] h2,
article[data-role="main-portal-content-article"] h3,
article[data-role="main-portal-content-article"] h4,
main[data-role="main-portal-content"] .content-bottom section h4,
main[data-role="main-portal-content"] div[data-role="main-portal-home-campaign"] .home-campaign-info h3 {
	font-family: 'aldo', Arial, sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
	line-height: 1em;
}
article[data-role="main-portal-content-article"] h1 {
	color: #53af31;
	font-size: 75px;
	line-height: 75px;
	padding-bottom: 25px;
}
.ux_boiler-plate article[data-role="main-portal-content-article"] h1 {
	font-size: 45px;
}




article[data-role="main-portal-content-article"] .confirmation-page h1 {
	color: #fff;
	font-size: 58px;
	line-height: 60px;
	padding-bottom: 24px;
}
article[data-role="main-portal-content-article"] h2 {
	color: #53af31;
	font-size: 42px;
	line-height: 42px;
	padding-bottom: 20px;
}
article[data-role="main-portal-content-article"] .confirmation-page h2 {
	font-size: 40px;
	padding-bottom: 35px;
}
.ux_boiler-plate article[data-role="main-portal-content-article"] h2 {
	font-size: 30px;
}

article[data-role="main-portal-content-article"] h3,
article[data-role="main-portal-content-article"] h4,
main[data-role="main-portal-content"] .content-bottom section h4 {
	color: #eaf2f6;
	font-size: 35px;
	line-height: 40px;
	padding-bottom: 25px;
}

.ux_boiler-plate article[data-role="main-portal-content-article"] h3,
.ux_boiler-plate article[data-role="main-portal-content-article"] h4 {
	font-size: 25px;
}



article[data-role="main-portal-content-article"] div h3 {
	color: #53af31;
}
article[data-role="main-portal-content-article"] h4,
main[data-role="main-portal-content"] .content-bottom section h4 {
	color: #accbdf;
}
article[data-role="main-portal-content-article"] h5 {
	color: #8e9ca2;
	font-size: 18px;
	line-height: 26px;
	padding-bottom: 25px;
}
article[data-role="main-portal-content-article"] p {
	color: #d0dfe6;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 20px;
}

article[data-role="main-portal-content-article"] .confirmation-page p {
	font-size: 17px;
	line-height: 26px;
}
article[data-role="main-portal-content-article"] p.intro {
	font-size: 17px;
	line-height: 26px;
}


article[data-role="main-portal-content-article"] .noPadding {
	padding: 0;
}


article[data-role="main-portal-content-article"] p.noPadding {
	font-size: 17px;
	padding: 0;
}

article[data-role="main-portal-content-article"] p.info {
	font-size: 12px;
	line-height: 1em;
	color: #8e9ca2;
	padding-bottom: 0;
}
article[data-role="main-portal-content-article"] p.info a {
	font-size: 12px;
}

article[data-role="main-portal-content-article"] h1.centered {
	margin-bottom: 30px;
	text-align: center;
}

article[data-role="main-portal-content-article"] h1.centered span {
	display: block;
	color: #eaf2f6;
	font-size: 35px;
	line-height: 1.1em;
	margin-top: 20px;
}
article[data-role="main-portal-content-article"] h2.centered {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.options article[data-role="main-portal-content-article"] h2.centered {
	overflow: visible;
}

article[data-role="main-portal-content-article"] h2.centered span {
	position: relative;
	display: inline-block;
}

article[data-role="main-portal-content-article"] h2.centered span:before,
article[data-role="main-portal-content-article"] h2.centered span:after {
    content: "";
  	position: absolute;
 	height: 2px;
  	border-top: 2px solid #545f64;
  	top: 50%;
  	width: 200%;
}
article[data-role="main-portal-content-article"] h2.centered span:before {
	right: 100%;
	margin-right: 25px;
}
article[data-role="main-portal-content-article"] h2.centered span:after {
	left: 100%;
	margin-left: 25px;
}
article[data-role="main-portal-content-article"] p.centered.intro {
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;
}


/*
main[data-role="main-portal-content"] .content-bottom section h4 {
	margin: 0;
}
*/

.boiler-plate-content article[data-role="main-portal-content-article"] h1 {
	padding-bottom: 0;
}
.boiler-plate-content article[data-role="main-portal-content-article"] h2 {
	padding-bottom: 0;
}
.boiler-plate-content article[data-role="main-portal-content-article"] h3 {
	padding-bottom: 0;
}
.boiler-plate-content article[data-role="main-portal-content-article"] h4 {
	padding-bottom: 0;
}
.boiler-plate-content article[data-role="main-portal-content-article"] h5 {
	padding-bottom: 0;
}
.boiler-plate-content article[data-role="main-portal-content-article"] p {
	font-size: 13px;
	padding-bottom: 0;
	line-height: 1.5em;
}
.boiler-plate-content article[data-role="main-portal-content-article"] p.intro {
	font-size: 14px;
}



/*
* Links
*/
article[data-role="main-portal-content-article"] a {
	color: #53af31;
	font-size: 16px;
	line-height: 26px;
	padding-bottom: 20px;
	text-decoration: underline;
	font-weight: bolder;
}

.boiler-plate-content article[data-role="main-portal-content-article"] a {
	font-size: 13px;
	line-height: 1.5em;
}


/*
* Lists
*/

article[data-role="main-portal-content-article"] ul {
	list-style-type: none;
	margin:0;
	padding: 0;
}
article[data-role="main-portal-content-article"] ul li {
	font-size: 16px;
	color: #d0dfe6;
	line-height: 24px;
	padding-left: 20px;
	text-indent: -1.3em;
    padding-bottom: 5px;
}
.boiler-plate-content  article[data-role="main-portal-content-article"] ul li {
	font-size: 13px;
	padding-bottom: 0;
	padding-left: 15px;
}

.boiler-plate-content  article[data-role="main-portal-content-article"] dd,
.boiler-plate-content  article[data-role="main-portal-content-article"] dt {
	font-size: 13px;

}

article[data-role="main-portal-content-article"] ol {
	margin-left: 20px;
	padding: 0;
	list-style: none;
	counter-reset: my-counter;
}
article[data-role="main-portal-content-article"] ol li {
	 position: relative;
	display: block;
	font-size: 16px;
	color: #d0dfe6;
	line-height: 24px;
    padding-bottom: 15px;
}



article[data-role="main-portal-content-article"] ol li:before {
	counter-increment: my-counter;
    content: counters(my-counter, ".") ". ";

    position: absolute;
    margin-right: 100%;
    right: 8px;
}

.boiler-plate-content article[data-role="main-portal-content-article"] ol li:before {
     right: 5px;
}




.boiler-plate-content  article[data-role="main-portal-content-article"] ol li {
	font-size: 13px;
	padding-bottom: 7px;
	padding-left: 5px;
	line-height: 1.5em;
}



article[data-role="main-portal-content-article"] ol li ol {
    padding-top: 15px;
}
.boiler-plate-content  article[data-role="main-portal-content-article"] ol li ol {
	 padding-top: 7px;
	 margin-left: 40px;
}
.boiler-plate-content  article[data-role="main-portal-content-article"] ol li ul {
	 margin-left: 40px;
}


.boiler-plate-content  article[data-role="main-portal-content-article"] li li {
	 padding-left: 0;
}

article[data-role="main-portal-content-article"] ul li:before {
    content: "•";
    padding-right: 15px;

}

article[data-role="main-portal-content-article"] dl {
	margin: 0;
	padding: 0;
}

article[data-role="main-portal-content-article"] dt,
article[data-role="main-portal-content-article"] dd {
	font-size: 16px;
	color: #d0dfe6;
	line-height: 24px;
}

article[data-role="main-portal-content-article"] dt {
	padding-bottom: 0;
	padding-top: 20px;
}


article[data-role="main-portal-content-article"] .form-row-inner dt {
	padding-top: 0;
}


article[data-role="main-portal-content-article"] dl table {
	margin-top: 20px;
}

article[data-role="main-portal-content-article"] dd ul {
	margin-left: 20px;
	margin-bottom: 20px;
}

/*
* Tables
*/
article[data-role="main-portal-content-article"] table {
	width: 100%;
	background: #eaf2f6;
	border-collapse: collapse;
	color: #0b171c;
	margin-bottom: 20px;
}
article[data-role="main-portal-content-article"] table thead td,
article[data-role="main-portal-content-article"] table th {
	background: #b2c2c9;
	font-size: 16px;
	font-weight: 600;
}


.boiler-plate-content article[data-role="main-portal-content-article"] table thead td,
.boiler-plate-content article[data-role="main-portal-content-article"] table th {
	font-size: 15px;
}

article[data-role="main-portal-content-article"] table th,
article[data-role="main-portal-content-article"] table td {
	text-align: left;
	padding: 20px;
	font-size: 14px;
	border: 1px solid #d0dfe6;
	color: #0b171c;
}
.boiler-plate-content article[data-role="main-portal-content-article"] table th,
.boiler-plate-content  article[data-role="main-portal-content-article"] table td {
	font-size: 13px;
}

.boiler-plate-content article[data-role="main-portal-content-article"] table tr:first-child th {
  border-top: 0;
}
.boiler-plate-content article[data-role="main-portal-content-article"] table tr:last-child td {
  border-bottom: 0;
}
.boiler-plate-content article[data-role="main-portal-content-article"] table tr td:first-child,
.boiler-plate-content article[data-role="main-portal-content-article"] table tr th:first-child {
  border-left: 0;
}
.boiler-plate-content article[data-role="main-portal-content-article"] table tr td:last-child,
.boiler-plate-content article[data-role="main-portal-content-article"] table tr th:last-child {
  border-right: 0;
}

article[data-role="main-portal-content-article"] table td p {
	color: #0b171c;
	padding-bottom: 1px;
}
article[data-role="main-portal-content-article"] table ul li {
	color: #0b171c;
}

/*
* Buttons
*/



main[data-role="main-portal-content"] .button,
main[data-role="main-portal-content"] .content-form input[type="submit"],
main[data-role="main-portal-content"] .content-form button {
	display: table;
	width: 221px;
	height: 57px;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	color: #fefefe;
	background: #53af31;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
	padding: 0;
	line-height: 1em;
	border: none;
}
main[data-role="main-portal-content"] .kickback-get-cash input[type="submit"] {
	width: 160px;
	text-transform: uppercase;
}


main[data-role="main-portal-content"] .button.centered {
	margin: 0 auto;
}
main[data-role="main-portal-content"] .button.bn-inline {
	display: inline-table;
	margin-right: 5px;
}
main[data-role="main-portal-content"] .button.bn-social {
	width: 145px;
	padding-left: 25px;
}
main[data-role="main-portal-content"] .bn-facebook span {
	background: url(img/sprite.png) no-repeat 27px -985px;

}
main[data-role="main-portal-content"] .bn-email span {
	background: url(img/sprite.png) no-repeat 19px -1051px;

}
main[data-role="main-portal-content"] .bn-tweet span {
	background: url(img/sprite.png) no-repeat 15px -1125px;

}
main[data-role="main-portal-content"] .button span {
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;

}
main[data-role="main-portal-content"] .button strong {
	display: block;
	text-transform: uppercase;
	font-size: 15px;
	padding-bottom: 3px;
}
main[data-role="main-portal-content"] .button:hover {
	background: #8eca78;
}
main[data-role="main-portal-content"] .bn-grey {
	background: #697479;
}
main[data-role="main-portal-content"] .bn-grey:hover {
	background: #8e9ca2;
}
main[data-role="main-portal-content"] .bn-kick {
	background: #e03099;
}
main[data-role="main-portal-content"] .bn-kick:hover {
	background: #ee75bd;
}
main[data-role="main-portal-content"] .bn-blue {
	background: #85a6bb;
}
main[data-role="main-portal-content"] .bn-blue:hover {
	background: #accbdf;
}
main[data-role="main-portal-content"] .bn-red {
	background: #cc4e5f;
}
main[data-role="main-portal-content"] .bn-red:hover {
	background: #e9929e;
}
main[data-role="main-portal-content"] .bn-orange {
	background: #e58f5e;
}
main[data-role="main-portal-content"] .bn-orange:hover {
	background: #ecb798;
}
main[data-role="main-portal-content"] .bn-black {
	width: 160px;
	background: #33383b;
	-webkit-box-shadow: 1px 2px 10px 1px #33383b;
	box-shadow: 1px 2px 10px 1px #33383b;
}
main[data-role="main-portal-content"] .bn-black:hover {
	background: #646464;
}



main[data-role="main-portal-content"] .bn-disabled,
main[data-role="main-portal-content"] .bn-disabled:hover  {
	background: #374044;
	color: #0b171c;
	cursor: text;
}


main[data-role="main-portal-content"] .content-form input[type="submit"],
main[data-role="main-portal-content"] .content-form input[type="button"],
main[data-role="main-portal-content"] .content-form button,
main[data-role="main-portal-content"] .bn-small {
	display: inline-table;
	width: auto;
	height: 32px;
	font-size: 14px;
	text-transform: lowercase;
}




main[data-role="main-portal-content"] .content-form input[type="submit"],
main[data-role="main-portal-content"] .content-form input[type="button"],
main[data-role="main-portal-content"] .content-form button span,
main[data-role="main-portal-content"] .bn-small span {
	padding: 0 25px;
	font-size: 15px;
}
main[data-role="main-portal-content"] .content-bottom .button {
	display: inline-table;
}
/*
* Accodion
*/
main[data-role="main-portal-content"] .accordion {
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
}

.ux_kickback main[data-role="main-portal-content"] .accordion > h3,
main[data-role="main-portal-content"] .accordion > h3 {
	position: relative;
	padding: 10px 25px;
	margin: 0 0 10px 0;
	font-family: Arial;
	font-size: 16px;
	font-weight: bolder;
	color: #374044;
	background: #eaf2f6;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	z-index: 2;
	cursor: pointer;
}
main[data-role="main-portal-content"] .accordion > h3:after {
	position: absolute;
	content: " ";
	right: 25px;
	top: 48%;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: #697479 transparent transparent transparent;
}
main[data-role="main-portal-content"] .accordion > h3.active:after {
	top: 48%;
	border-width: 0 5px 7px 5px;
	border-color: transparent transparent #8e9ca2 transparent;
}
main[data-role="main-portal-content"] .accordion-empty > h3:after {
    display: none;
}

main[data-role="main-portal-content"] .accordion .accordion-row {
	position: relative;
	top: -20px;
	padding: 20px 25px;
	margin: 0;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	z-index: 1;
	/*display: none; - show by default for accessibility. Hide with JS onload */
	background-color: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.2);
}

article[data-role="main-portal-content-article"] .accordion .accordion-row p {
	padding-bottom: 0;
}
article[data-role="main-portal-content-article"] .accordion .accordion-row table {
	margin-top: 10px;
}
main[data-role="main-portal-content"] .centered {
	text-align: center;
}


/*
*
* Memebrship options
*/

article[data-role="main-portal-content-article"] .membership-items-wrapper h3 {
	color: #fff;
	font-size: 70px;
	text-shadow: 0 0 10px #030303;
	margin-bottom: 10px;
}
article[data-role="main-portal-content-article"] .membership-items-wrapper h3.price {
	font-size: 96px;
	padding: 0 0 20px 0;
}
article[data-role="main-portal-content-article"] .membership-items-wrapper h3 span {
	display: block;
	font-family: Arial;
	font-size: 20px;
	color: #eaf2f6;
	font-weight: 100;
}
article[data-role="main-portal-content-article"] .membership-items-wrapper h3.price span {
	margin-top: 5px;
}

article[data-role="main-portal-content-article"] .membership-items-wrapper ul {
	width: 230px;
	margin: 0 auto 30px auto;
	text-align: left;
	padding: 0;
}
article[data-role="main-portal-content-article"] .membership-items-wrapper ul li {
	font-size: 22px;
	font-weight: bolder;
	text-indent: 0;
	margin-bottom: 25px;
	padding: 0 0 0 40px;
	color: #fff;
	text-shadow: 0 0 10px #030303;
	background: url(img/sprite.png) no-repeat 0 -700px;
}
article[data-role="main-portal-content-article"] .membership-items-wrapper ul li.last {
	background: none;
}
article[data-role="main-portal-content-article"] .membership-items-wrapper ul li:before {
	display: none;
}
article[data-role="main-portal-content-article"] .membership-items-wrapper ul li span {
	font-size: 18px;
	display: block;
	color: #fff;
	font-weight: 100;
}

/*
* Pagination
*
*/

article[data-role="main-portal-content-article"] .pagination {
	width: 100%;
	overflow: hidden;
	margin-bottom: 65px;
}

article[data-role="main-portal-content-article"] .pagination ul li {
	display: inline-block;
	text-indent: 0;
	margin: 0;
	padding: 0;
}

article[data-role="main-portal-content-article"] .pagination ul li:before {
	display: none;

}

article[data-role="main-portal-content-article"] .pagination ul li a {
	display: block;
	color: #fff;
	background: #8e9ca2;
	text-decoration: none;
	font-weight: 100;
	padding: 10px 15px;
	line-height: 1em;
}

article[data-role="main-portal-content-article"] .pagination ul li:last-child a,
article[data-role="main-portal-content-article"] .pagination ul li:first-child a {
	background: #697479;
}

article[data-role="main-portal-content-article"] .pagination ul li:first-child a {
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

article[data-role="main-portal-content-article"] .pagination ul li:last-child a {
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}


article[data-role="main-portal-content-article"] .pagination ul li.active a,
article[data-role="main-portal-content-article"] .pagination ul li a:hover {
	background: #374044;
}

.ux_boiler-plate dd strong,
article[data-role="main-portal-content-article"] a[name] {
	text-decoration: none;
	cursor: default;
	color: #d0dfe6;
	font-weight: normal;
}


/*
* Error pages
*
*/

div[data-role="main-portal-errors"] {
	width: 740px;
	margin: 60px auto 0 auto;
	padding-top: 200px;
	background: url(img/headphones.png) no-repeat center top;

}

article[data-role="main-portal-content-article"] div[data-role="main-portal-errors"] h1 {
	color: #fff;
	font-size: 58px;

}
article[data-role="main-portal-content-article"] div[data-role="main-portal-errors"] h1 span {
	color: #53af31;
	font-size: 40px;

}

article[data-role="main-portal-content-article"] div[data-role="main-portal-errors"] a.button {
	width: 150px;

}

/*


main section .item h3 {
	margin: 0;
	padding: 0;
}


.sign-in, .sign-out {
 	position: relative;
	display: block;
	width: 145px;
	height: 51px;
	line-height: 51px;
	padding: 0;
	background: #53af31;
	color: #fefefe;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	text-indent: -10px;
}
.sign-out {
	background: #374044;
	color: #8e9ca2;
}
.sign-in:after, .sign-out:after {
	position: absolute;
	content: "";
	width: 0px;
	height: 0px;
	margin-left: 10px;
	top: 50%;
	margin-top: -5px;
	border-style: solid;
	border-width: 5px 0 5px 7px;
	border-color: transparent transparent transparent #bde4af;
}
.sign-out:after {
	border-color: transparent transparent transparent #8e9ca2;
}

.sign-in:hover {
	background: #fff;
	color: #53af31;
}

.sign-out:hover {
	background: #697479;
}

.sign-in:hover:after {
	position: absolute;
	content: "";
	width: 0px;
	height: 0px;
	margin-left: 10px;
	top: 50%;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: #52af31 transparent transparent transparent;
}
*/



article[data-role="main-portal-content-article"]  div[data-role="my48-dashboard-data-settings"] h2 {
	padding-bottom: 10px;
}
article[data-role="main-portal-content-article"]  div[data-role="my48-dashboard-data-settings"] h3 {
	color: #fff;
}

article[data-role="main-portal-content-article"] #sitemap ul.menu {
	margin: 0 0 20px 0;
}