/* General
-------------------------------------------------------------- */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  color: #404040; }

img {
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

body {
  background: grey; }

.lia-page {
  max-width: 700px;
  margin: 0 auto;
  font-family: monospace !important;
  color: black; }
  .lia-page p,
  .lia-page span,
  .lia-page input,
  .lia-page form,
  .lia-page button,
  .lia-page a,
  .lia-page h1,
  .lia-page h2,
  .lia-page h3,
  .lia-page h4,
  .lia-page h5,
  .lia-page h6,
  .lia-page .h1,
  .lia-page .h2,
  .lia-page .h3,
  .lia-page .h4,
  .lia-page .h5,
  .lia-page .h6 {
    color: black !important;
    font-family: monospace !important; }
  .lia-page .lia-content,
  .lia-page .lia-quilt-column-24 {
    background: white !important; }
    .lia-page .lia-content .lia-component-mobile-widget-mobile-header,
    .lia-page .lia-content .lia-panel-heading-bar,
    .lia-page .lia-content .lia-quilt-row-footer,
    .lia-page .lia-content .lia-quilt-row,
    .lia-page .lia-content table.lia-list-wide th,
    .lia-page .lia-content input[type="text"],
    .lia-page .lia-quilt-column-24 .lia-component-mobile-widget-mobile-header,
    .lia-page .lia-quilt-column-24 .lia-panel-heading-bar,
    .lia-page .lia-quilt-column-24 .lia-quilt-row-footer,
    .lia-page .lia-quilt-column-24 .lia-quilt-row,
    .lia-page .lia-quilt-column-24 table.lia-list-wide th,
    .lia-page .lia-quilt-column-24 input[type="text"] {
      background: white !important; }
      .lia-page .lia-content .lia-component-mobile-widget-mobile-header a,
      .lia-page .lia-content .lia-panel-heading-bar a,
      .lia-page .lia-content .lia-quilt-row-footer a,
      .lia-page .lia-content .lia-quilt-row a,
      .lia-page .lia-content table.lia-list-wide th a,
      .lia-page .lia-content input[type="text"] a,
      .lia-page .lia-quilt-column-24 .lia-component-mobile-widget-mobile-header a,
      .lia-page .lia-quilt-column-24 .lia-panel-heading-bar a,
      .lia-page .lia-quilt-column-24 .lia-quilt-row-footer a,
      .lia-page .lia-quilt-column-24 .lia-quilt-row a,
      .lia-page .lia-quilt-column-24 table.lia-list-wide th a,
      .lia-page .lia-quilt-column-24 input[type="text"] a {
        color: black !important; }
    .lia-page .lia-content a,
    .lia-page .lia-quilt-column-24 a {
      border: 1px solid red !important;
      -webkit-box-shadow: 4px red;
              box-shadow: 4px red; }
      .lia-page .lia-content a img.lia-fa-button,
      .lia-page .lia-quilt-column-24 a img.lia-fa-button {
        -webkit-box-shadow: 4px red;
                box-shadow: 4px red;
        background-color: green; }
